/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navigation Styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


/* Header Styles */
.main-header {
  background: #f4f4f4; /* Light background, change as needed */
  padding: 20px;
  text-align: center;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  max-width: 100px; /* Adjust size as needed */
  margin: 0 10px;
  vertical-align: middle;
}

.main-header h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  color: #333;
}

.main-header h2 {
  font-size: 1.5rem;
  margin-top: 5px;
  color: #333;
}

.main-header p {
  color: #333;
}

/* Container */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
}

/* Content Section */
.content {
  padding: 40px 0;
  background: #f4f4f4;
  text-align: left;
}

/* About & Contact Sections */
.about, .contact {
  padding: 40px 0;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}


    /* Style for highlighted words */
    .highlight {
      font-weight: bold;
      color: #333; /* You can change the color as needed */
    }
    .topics ul {
      list-style-type: disc;
      margin-left: 40px;
    }

/* style for persons */
.person {
      display: flex;
      align-items: center;
      background: #fff;
      padding: 40px;
      margin-bottom: 10px;
      margin-left: 40px;
      max-width: 1000px; /* Reduced max-width for a smaller box */
      width: 80%;
    }
    .person img {
      width: 150px;
      height: auto;
      border-radius: 50%;
      margin-right: 20px;
    }
    .info {
      flex: 1;
    }
    .info h2 {
      margin: 0 0 10px;
      font-size: 1.5em;
      color: #333;
    }
    .info p {
      margin: 0;
      color: #555;
    }
